/* Generic selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;

}

/* utility selector */
:root {
    --clr-violet: #e53170;
    --clr-dark: #0f0e17;
    --clr-heavenly: #1ccade;
    --clr-white: white;
}

/* utility debug */
/* .debug .col {
    height: 100px;
    background-color: black;
    border: 2px solid yellow;
} */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header selector */

h1 {
    color: var(--clr-violet);
    margin: 20px;
    font-weight: 600;
    text-align: center;
}

/* Main selector  */

.container {
    width: 70%;
    margin: auto;
}

.container p {
    margin: 20px 10px;
    text-align: center;
}

.container .col {
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    color: var(--clr-white);
    background-color: var(--clr-dark);
}

.col img {
    height: 100px;
    float: left;
    margin-right: 10px;
}

.info * {
    padding: 5px 0;
}

.col address {
    color: var(--clr-heavenly);
    font-weight: bold;
}